In [9]:
import os
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
from pylab import rcParams
rcParams['figure.figsize'] = 10, 6
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima_model import ARIMA
from pmdarima.arima import auto_arima
from sklearn.metrics import mean_squared_error, mean_absolute_error
import math
from tabulate import tabulate

In [3]:
print(plt.style.available)

['bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn-bright', 'seaborn-colorblind', 'seaborn-dark-palette', 'seaborn-dark', 'seaborn-darkgrid', 'seaborn-deep', 'seaborn-muted', 'seaborn-notebook', 'seaborn-paper', 'seaborn-pastel', 'seaborn-poster', 'seaborn-talk', 'seaborn-ticks', 'seaborn-white', 'seaborn-whitegrid', 'seaborn', 'Solarize_Light2', 'tableau-colorblind10', '_classic_test']

In [4]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m-%d')
data = pd.read_csv('aaba.us.txt',sep=',', index_col='Date', parse_dates=['Date'], date_parser=dateparse).fillna(0)

In [5]:
data

             Open    High    Low  Close     Volume  OpenInt
Date
1996-04-12   1.05   1.790   1.02   1.38  408720000        0
1996-04-15   1.49   1.500   1.25   1.34   79231200        0
1996-04-16   1.34   1.340   1.17   1.20   48026400        0
1996-04-17   1.18   1.180   1.03   1.12   42871200        0
1996-04-18   1.25   1.250   1.17   1.22   27352800        0
...           ...     ...    ...    ...        ...      ...
2017-11-06  70.27  71.960  70.27  71.71    7129828        0
2017-11-07  72.20  72.470  71.62  72.22    9161521        0
2017-11-08  72.00  72.200  71.09  71.16    7363365        0
2017-11-09  70.46  70.680  68.77  70.19   10054663        0
2017-11-10  70.60  70.745  69.94  70.56    4439900        0

[5434 rows x 6 columns]

In [14]:
print(tabulate(data.head(50), tablefmt="pipe", headers="keys"))

| Date                |   Open |   High |   Low |   Close |      Volume |   OpenInt |
|:--------------------|-------:|-------:|------:|--------:|------------:|----------:|
| 1996-04-12 00:00:00 |   1.05 |   1.79 |  1.02 |    1.38 | 4.0872e+08  |         0 |
| 1996-04-15 00:00:00 |   1.49 |   1.5  |  1.25 |    1.34 | 7.92312e+07 |         0 |
| 1996-04-16 00:00:00 |   1.34 |   1.34 |  1.17 |    1.2  | 4.80264e+07 |         0 |
| 1996-04-17 00:00:00 |   1.18 |   1.18 |  1.03 |    1.12 | 4.28712e+07 |         0 |
| 1996-04-18 00:00:00 |   1.25 |   1.25 |  1.17 |    1.22 | 2.73528e+07 |         0 |
| 1996-04-19 00:00:00 |   1.25 |   1.28 |  1.2  |    1.21 | 1.30248e+07 |         0 |
| 1996-04-22 00:00:00 |   1.21 |   1.21 |  1.15 |    1.18 | 8.112e+06   |         0 |
| 1996-04-23 00:00:00 |   1.2  |   1.21 |  1.17 |    1.17 | 4.4208e+06  |         0 |
| 1996-04-24 00:00:00 |   1.19 |   1.22 |  1.16 |    1.21 | 7.86e+06    |         0 |
| 1996-04-25 00:00:00 |   1.25 |   1.34 |  1.21 |    1.3  | 1.95e+07    |         0 |
| 1996-04-26 00:00:00 |   1.33 |   1.34 |  1.3  |    1.32 | 7.632e+06   |         0 |
| 1996-04-29 00:00:00 |   1.31 |   1.33 |  1.27 |    1.29 | 6.0216e+06  |         0 |
| 1996-04-30 00:00:00 |   1.3  |   1.31 |  1.23 |    1.24 | 5.1192e+06  |         0 |
| 1996-05-01 00:00:00 |   1.26 |   1.32 |  1.25 |    1.31 | 4.9272e+06  |         0 |
| 1996-05-02 00:00:00 |   1.31 |   1.39 |  1.31 |    1.37 | 9.8064e+06  |         0 |
| 1996-05-03 00:00:00 |   1.34 |   1.35 |  1.3  |    1.33 | 6.1848e+06  |         0 |
| 1996-05-06 00:00:00 |   1.35 |   1.35 |  1.23 |    1.25 | 8.2464e+06  |         0 |
| 1996-05-07 00:00:00 |   1.25 |   1.28 |  1.24 |    1.26 | 5.5992e+06  |         0 |
| 1996-05-08 00:00:00 |   1.27 |   1.28 |  1.22 |    1.26 | 6.3144e+06  |         0 |
| 1996-05-09 00:00:00 |   1.25 |   1.28 |  1.24 |    1.28 | 4.14e+06    |         0 |
| 1996-05-10 00:00:00 |   1.28 |   1.32 |  1.27 |    1.3  | 5.94e+06    |         0 |
| 1996-05-13 00:00:00 |   1.3  |   1.31 |  1.25 |    1.26 | 2.808e+06   |         0 |
| 1996-05-14 00:00:00 |   1.28 |   1.29 |  1.23 |    1.23 | 4.0944e+06  |         0 |
| 1996-05-15 00:00:00 |   1.25 |   1.28 |  1.24 |    1.26 | 2.2248e+06  |         0 |
| 1996-05-16 00:00:00 |   1.24 |   1.27 |  1.24 |    1.26 | 3.408e+06   |         0 |
| 1996-05-17 00:00:00 |   1.26 |   1.27 |  1.24 |    1.25 | 2.4744e+06  |         0 |
| 1996-05-20 00:00:00 |   1.25 |   1.26 |  1.21 |    1.21 | 4.3584e+06  |         0 |
| 1996-05-21 00:00:00 |   1.21 |   1.22 |  1.16 |    1.17 | 4.1664e+06  |         0 |
| 1996-05-22 00:00:00 |   1.17 |   1.17 |  1.12 |    1.15 | 2.6544e+06  |         0 |
| 1996-05-23 00:00:00 |   1.15 |   1.23 |  1.15 |    1.23 | 2.94e+06    |         0 |
| 1996-05-24 00:00:00 |   1.23 |   1.25 |  1.2  |    1.23 | 2.5416e+06  |         0 |
| 1996-05-28 00:00:00 |   1.22 |   1.24 |  1.19 |    1.21 | 2.2608e+06  |         0 |
| 1996-05-29 00:00:00 |   1.2  |   1.2  |  1.12 |    1.15 | 3.7992e+06  |         0 |
| 1996-05-30 00:00:00 |   1.15 |   1.21 |  1.15 |    1.18 | 3.1272e+06  |         0 |
| 1996-05-31 00:00:00 |   1.2  |   1.2  |  1.14 |    1.17 | 1.7664e+06  |         0 |
| 1996-06-03 00:00:00 |   1.16 |   1.17 |  1.14 |    1.14 | 1.2456e+06  |         0 |
| 1996-06-04 00:00:00 |   1.14 |   1.17 |  1.13 |    1.13 | 2.508e+06   |         0 |
| 1996-06-05 00:00:00 |   1.15 |   1.15 |  1.12 |    1.13 | 1.2816e+06  |         0 |
| 1996-06-06 00:00:00 |   1.19 |   1.2  |  1.15 |    1.16 | 3.8928e+06  |         0 |
| 1996-06-07 00:00:00 |   1.14 |   1.14 |  1.1  |    1.12 | 3.5136e+06  |         0 |
| 1996-06-10 00:00:00 |   1.12 |   1.12 |  1.09 |    1.1  | 1.9464e+06  |         0 |
| 1996-06-11 00:00:00 |   1.09 |   1.1  |  1.06 |    1.06 | 4.3344e+06  |         0 |
| 1996-06-12 00:00:00 |   1.07 |   1.11 |  1.07 |    1.08 | 2.7264e+06  |         0 |
| 1996-06-13 00:00:00 |   1.07 |   1.09 |  1.02 |    1.06 | 5.7528e+06  |         0 |
| 1996-06-14 00:00:00 |   1.03 |   1.06 |  1.03 |    1.03 | 2.1192e+06  |         0 |
| 1996-06-17 00:00:00 |   1.03 |   1.04 |  0.94 |    0.96 | 3.3216e+06  |         0 |
| 1996-06-18 00:00:00 |   0.91 |   0.93 |  0.85 |    0.85 | 5.592e+06   |         0 |
| 1996-06-19 00:00:00 |   0.88 |   0.9  |  0.85 |    0.86 | 4.1448e+06  |         0 |
| 1996-06-20 00:00:00 |   0.88 |   0.91 |  0.85 |    0.91 | 3.0048e+06  |         0 |
| 1996-06-21 00:00:00 |   0.93 |   0.95 |  0.91 |    0.93 | 2.6256e+06  |         0 |