In [12]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import sqlite3 as sql

In [8]:
user_name = "root"
password = "mysql"

In [9]:
cnx = sqlite3.connect(r'D:\To be done\SQL\imdb.db')

In [11]:
df = pd.read_sql_query("use imdb", cnx)

DatabaseError: Execution failed on sql 'use imdb': near "use": syntax error